@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


#title-head{
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
  text-shadow: 16px 0px 29px rgb(69, 69, 116);
  margin-left: 15px;
  position: relative;

}

footer{
  margin-top: 8%;
}


#mySidenav a {
  position: fixed;
  right: -185px;
  transition: 0.8s;
  padding: 15px;
  width: 225px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 1;
}

#mySidenav a:hover {
  right: 0%;
}

#blog {
  top: 210px;
  background-color: #BB001B;
  display: flex;
  justify-content: space-between;
}

#projects {
  top: 270px;
  background-color: 	#4267B2;
  display: flex;
  justify-content: space-between;
}

#contact {
  top: 330px;
  background-color:#1D9BF0;
  display: flex;
  justify-content: space-between;
}
.rsc{
  font-family: thin;
  font-size: 20px;
}